@import "./criminal.css";
@import "./noteForm.css";
@import "./associate.css";

.container {
  display: flex;
  flex-wrap: nowrap;
}

.mainPage {
  flex: 4;
}

.noteAsideContainer {
  flex: 1;
  background-color: lightslategray;
  padding:  0 10px;
}